In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df1=pd.read_csv("Fake.csv")
df2=pd.read_csv("True.csv")

In [3]:
df1.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
df2.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
def filt(text):
    if "(Reuters) - " in text:
        return text.split(" - ",1)[1]

In [6]:
df2["text"]=df2["text"].apply(filt)

In [10]:
df1['Class']=0
df2['Class']=1

In [11]:
df = pd.concat([df1, df2])
df = df.sample(frac=1)

In [12]:
df.head(10)

,title,text,subject,date,Class
4130,Anti-Semitism Is Rapidly Rising And It’s All ...,When Hillary Clinton called half of Trump supp...,News,"October 19, 2016",0
7640,Factbox - How Carlos Danger got tangled up in ...,"Anthony Weiner, the disgraced former U.S. cong...",politicsNews,"October 29, 2016",1
19268,HERE’S WHAT Feminists Left Behind After Their ...,,left-news,"Jan 21, 2017",0
8972,Clinton campaign hits Trump for seeing Brexit ...,Hillary Clinton’s presidential campaign accuse...,politicsNews,"June 26, 2016",1
10508,"Trump nomination odds wane in online betting, ...",Donald Trump’s prospects of winning the Republ...,politicsNews,"March 4, 2016",1
18,U.S. appeals court rejects challenge to Trump ...,A U.S. appeals court in Washington on Tuesday ...,politicsNews,"December 26, 2017",1
7745,Trump's war chest one of smallest in recent pr...,Republican Donald Trump could go down as the l...,politicsNews,"October 21, 2016",1
20222,South Korea confirms traces of radioactive gas...,South Korea said on Wednesday traces of radioa...,worldnews,"September 13, 2017",1
236,Trump EXPLODES In Twitter Tantrum That Proves...,Donald Trump threw a massive hissy fit over ju...,News,"October 10, 2017",0
14849,BREAKING: FEMALE #SanBernardino Shooter Pledge...,How long do you think our President has know...,politics,"Dec 4, 2015",0

In [13]:
df.reset_index(inplace=True)

In [14]:
df.drop(["index"],axis=1,inplace=True)

In [15]:
df['text']=[str (item) for item in df['text']]

In [17]:
xtrain,xtest,ytrain,ytest=train_test_split(df['text'],df['Class'],test_size=0.3,random_state=7)

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer,TfidfTransformer

In [36]:
vec=TfidfVectorizer(stop_words='english',max_df=0.7)
tfidf=TfidfTransformer()
vectorizer = CountVectorizer()

In [20]:
tfidf_train=vec.fit_transform(xtrain)
tfidf_test=vec.transform(xtest)

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [22]:

LR=LogisticRegression()  
LR.fit(tfidf_train,ytrain)

LogisticRegression()

In [23]:
y_predict=LR.predict(tfidf_test)

In [24]:
acc_score=accuracy_score(ytest,y_predict)
print(round(acc_score*100,2),'%')

97.12 %

In [26]:
confusion_matrix(ytest,y_predict,labels=[0,1])

array([[6846,  185],
       [ 203, 6236]], dtype=int64)

In [27]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

In [29]:
clf = MultinomialNB()
clf.fit(tfidf_train, ytrain)

MultinomialNB()

In [30]:
y_pred=clf.predict(tfidf_test)

In [31]:
acc_score=accuracy_score(ytest,y_pred)
print(round(acc_score*100,2),'%')

92.67 %

In [37]:
text_clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('tfidf', TfidfTransformer()),
    ('clf', MultinomialNB()),
])

text_clf.fit(xtrain, ytrain)

Pipeline(steps=[('vectorizer', CountVectorizer()),
                ('tfidf', TfidfTransformer()), ('clf', MultinomialNB())])

In [38]:
y_pred = text_clf.predict(xtest)

accuracy = accuracy_score(ytest, y_pred)

In [39]:
accuracy*100

93.54120267260579